<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="h">
    <div class="row">
        <div class="col-md-9">
            <a href="/"><img th:src="@{/static/images/logo.png}" id="img1" loading="lazy" style="height: 70px"
                             alt=""></a>
        </div>
        <div class="col-md-3">
            <p style="float: right;margin-top: 14%">
                <a href="/toLoginPage"><span class="badge badge-pill badge-success"
                                             th:if="${session.currentUser==null}">登录</span></a>
                <a href="/toPersonalHubsPage"><span class="badge badge-pill badge-success"
                                              th:if="${session.currentUser!=null}">个人中心</span></a>
                <a href="/toContactPage"><span class="badge badge-pill badge-info" th:if="${session.currentUser!=null}">联系我们</span></a>
                <a href="javascript:logoutUser()"><span class="badge badge-pill badge-danger"
                                                        th:if="${session.currentUser!=null}">注销</span></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">分类</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">最近发布</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">热门商品</a>
                    </li>
                </ul>
                <div style="margin-left: 50%">
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="输入搜索关键词...">
                        <button class="btn btn-primary bg-light" type="button" style="margin-left: 3px"><i
                                class="fa fa-search" style="color:
#007bff"></i></button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>