<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="m">
  <div class="card">
    <div class="card-header bg-primary text-white"><i class="fa fa-connectdevelop"></i>商品分类</div>
    <div class="card-body">
      <div>
        <p th:each="goodsType:${goodsTypeList}"><a th:href="${'/toSortPage?goodsTypeId='+goodsType.id}"
                                                   th:text="${goodsType.name}"
                                                   class=" status-icon hint--top"
                                                   th:aria-label="${goodsType.name}"></a></p>
      </div>
    </div>
  </div>
  <div class="card" style="margin-top: 8px" th:if="${goodsRecommendList.size()>0}">
    <div class="card-header bg-primary text-white"><i class="fa fa-houzz"></i>推荐商品</div>
    <div class="card-body">
      <div>
        <div class="row" th:each="goodsRecommend:${goodsRecommendList}">
          <div class="col-md-4">
            <a th:href="${'/goods/'+goodsRecommend.id}"><img
                    th:src="@{'/static/images/articleImage/'+${goodsRecommend.imageName}+'.jpg'}"
                    alt=""
                    style="width: 88px;height: 60px"></a>
          </div>
          <div class="col-md-8">
            <div>
              <a th:href="${'/goods/'+goodsRecommend.id}" class="status-icon hint--top"
                 th:aria-label="${goodsRecommend.name}"><span
                      th:text="${#strings.abbreviate(goodsRecommend.name,20)}"></span></a>
              <p style="color: #b52b27">￥<span th:text="${goodsRecommend.priceNow}"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>