<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="m">
  <div class="card">
    <div class="card-header">
      <p><img th:src="@{'/static/images/userImage/'+${session.currentUser.imageName}}" class="img-fluid img-thumbnail" alt=""></p>
    </div>
    <div class="card-body">
      <div>
        <p><a href="/toPersonalInfoPage"><i class="fa fa-drivers-license-o"></i>查看个人信息</a></p>
        <p><a href="/toAddGoodsPage"><i class="fa fa-send-o"></i>发布商品</a></p>
        <p><a href="/toGoodsManagePage"><i class="fa fa-shopping-bag"></i>我的商品</a></p>
        <p><a href="/contactInformation/toMyContactInformationPage"><i class="fa fa-phone"></i>联系方式</a></p>
        <p><a href="/toMyMessagePage"><i class="fa fa-bell-o"></i>我的消息</a></p>
        <p><a href="/contact/toMyContactPage"><i class="fa fa-commenting-o"></i>我的留言</a></p>
        <p><a href="/toContactPage"><i class="fa fa-clipboard"></i>联系我们</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>