<!DOCTYPE html>
<!--suppress ALL-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="short icon" th:href="@{/static/images/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/css/hint.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/static/js/my.js}"></script>
    <script type="text/javascript" th:src="@{/static/ckeditor/ckeditor.js}"></script>
    <style type="text/css">
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <script th:inline="javascript">
        window.onload = function () {
            var loginSuccess = [[${loginSuccess}]];
            if (loginSuccess == true) {
                alert("登录成功，跳转到首页");
            }
            var successRegister = [[${successRegister}]];
            if (successRegister == true) {
                alert("注册成功!");
            }
            var successResetPassword = [[${successResetPassword}]];
            if (successResetPassword == true) {
                alert("密码修改成功!");
            }
            var contactAddSuccess = [[${contactAddSuccess}]];
            if (contactAddSuccess == true) {
                alert("留言成功!");
            }
            var contactModifySuccess = [[${contactModifySuccess}]];
            if (contactModifySuccess == true) {
                alert("修改留言成功!");
            }
            var modifyUserSuccess = [[${modifyUserSuccess}]];
            if (modifyUserSuccess == true) {
                alert("修改个人信息成功!");
            }
            var deleteContactSuccess = [[${deleteContactSuccess}]];
            if (deleteContactSuccess == true) {
                alert("删除留言成功!");
            } else if (deleteContactSuccess == false) {
                alert("删除留言失败!");
            }
            var addContactInformationSuccess = [[${addContactInformationSuccess}]];
            if (addContactInformationSuccess == true) {
                alert("添加联系方式成功!");
            } else if (addContactInformationSuccess == false) {
                alert("添加联系方式失败!");
            }
            var deleteContactInformation = [[${deleteContactInformation}]];
            if (deleteContactInformation == true) {
                alert("删除联系方式成功!");
            } else if (deleteContactInformation == false) {
                alert("删除联系方式失败!");
            }
            var updateContactInformationSuccess = [[${updateContactInformationSuccess}]];
            if (updateContactInformationSuccess == true) {
                alert("修改联系方式成功!");
            } else if (updateContactInformationSuccess == false) {
                alert("修改联系方式失败!");
            }
        }
    </script>
</head>
<body>
<div style="width: 92%;margin-left: 4%">
    <div th:include="common/head::#h"></div>
    <div th:include="${mainPage}::${mainPageKey}"></div>
    <div id="outerdiv"
         style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src=""/>
        </div>
        <h1 style="color: yellow;text-align: center">点击图片外任何区域即可关闭图片</h1>
    </div>
</div>
<a class="imgdiv" href="#gotop">
    <img th:src="@{/static/images/top2.png}" id="gotop" alt="" class="imgsrc img-thumbnail"
         style="position: fixed;bottom: 10%;display: none;height: 40px;margin-left: 96.5%">
</a>
<script type="text/javascript">
    CKEDITOR.replace("contentGoods", {height: '220px', width: '100%'});
</script>
</body>
</html>