<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="col-md-6" style="margin-left: 25%">
        <form role="form" method="post" action="/user/login">
            <h3 style="text-align: center">用户登录&nbsp;&nbsp;</h3>
            <div class="form-group">
                <p class="help-block" style="float: right">没有账号?去<a href="/toRegisterPage"><span
                        class="badge badge-pill badge-info" style="color: white">注册</span></a></p>
            </div>
            <div class="form-group">
                <label for="name">用户名</label>
                <input type="text" class="form-control" id="userName" name="userName" th:value="${userNameLogin}"
                       placeholder="请输入用户名" required="required">
            </div>
            <div class="form-group">
                <label for="name">密码</label>
                <input type="password" class="form-control" id="password" name="password"  th:value="${passwordLogin}"
                       placeholder="请输入密码" required="required">
            </div>
            <div class="form-group">
                <p class="help-block">忘记密码?去<a href="/toResetPasswordPage"><span class="badge badge-pill badge-warning" style="color: white">找回密码</span></a>
                </p>
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">登录</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>