<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="col-md-6" style="margin-left: 25%">
        <form role="form" method="post" action="/user/resetPassword" onsubmit="return checkResetPasswordValue()">
            <h3 style="text-align: center">找回密码</h3>
            <div class="form-group">
                <label for="name">新密码</label>
                <input type="text" class="form-control" id="passwordResetPassword" name="password"
                       placeholder="请输入新密码" required="required">
            </div>
            <div class="form-group">
                <label for="name">确认密码</label>
                <input type="text" class="form-control" id="password2ResetPassword"
                       placeholder="请输入确认密码" required="required">
            </div>
            <div class="form-group">
                <label for="name">绑定的邮箱</label>
                <input type="email" class="form-control" id="emailResetPassword" name="email"
                       placeholder="请输入绑定的邮箱" required="required">
            </div>
            <div class="form-group">
                <label for="name">验证码</label>
                <input type="text" class="form-control" id="resetPasswordCode" name="imageCode"
                       placeholder="请输入验证码" required="required">
                <input type="button" class="btn-warning btn btn-sm" style="margin-top: 12px;" value="获取验证码"
                       onclick="setTime(this,2);getVerificationCode(2)">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>