<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="row" style="margin-top: 5px">
        <!--商品分类列表和推荐商品-->
        <div class="col-md-3">
            <div th:include="common/menuSortAndRecommend::#m"></div>
        </div>
        <!--求购列表-->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-list-ol"></i>用户求购</div>
                <div class="card-body">
                    <p th:each="goodsWantToBuy:${goodsWantToBuyList}"><span
                            th:text="${#dates.format(goodsWantToBuy.addTime,'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a
                            th:href="${'/goods/'+goodsWantToBuy.id}" th:text="${goodsWantToBuy.name}"></a></p>
                    <p style="color: red" th:if="${goodsWantToBuyList!=null}">无数据</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>